/* alguna de estas clases son de bootstrap, las defini en este archivo porque al conectar el CDN de bootstrap al html me trajo problemas que no tuve tiempo de 
debuggear y para solucionarlo las inclui aqui */

.cell {
  display: inline-block;
  border: 1px solid lightgray;
  width: 15px;
  height: 15px;
  margin: 2px 2px;
  border-radius: 50%;
}

.dead {
  background-color: white;
}

.alive {
  background-color: lightskyblue;
}

.cell:hover {
  background: lightskyblue;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 1050px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

h1,
h2,
h3,
h4 {
  color: rgb(0, 0, 0);
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  color: lightgray;
  margin-top: 40px;
}

#generacion {
  float: right;
  text-align: left;
}

.container {
  margin: auto auto;
  align-content: center;
}

#controller {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 23%;
}

input {
  margin-right: 10px;
  margin-left: 10px;
}

#titulo {
  margin-top: 2%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px 2px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
